<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissões podem ser adicionadas aqui quando necessário -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RxMetrics"
        tools:targetApi="31">

        <!-- Activity principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.RxMetrics">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activities de calculadoras médicas -->
        <activity-alias
            android:name="CalculatorActivityBase"
            android:targetActivity=".MainActivity"
            android:exported="false">
        </activity-alias>

        <activity
            android:name=".calculators.BMICalculatorActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".calculators.DoseCalculatorActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".calculators.ClearanceCreatininaActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".calculators.PesoIdealActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".calculators.OsmoActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".calculators.SodioGlicemiaActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".calculators.PamActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".calculators.CalcioAlbuminaActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".calculators.WellsTvpActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".calculators.FluidoIntraOpActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".calculators.LDLActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".calculators.WellsTepActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".calculators.DeficitKActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".calculators.CorreçãoNaActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>